.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__image_wrapper {
    width: 300px;
    height: 200px;
    position: relative;
  }

  &__infomation {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
  }

  &__title {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }

  &__description {
    width: 100%;
    font-size: 0.75rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  &__footer {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
